$color1: #F1F5F9;
$color2: #E2E8F0;
$color3: #CBD5E1;
$color4: #94A3B8;
$color5: #65758B;
$color6: #475569;
$color7: #334155;
$color8: #0F172A;
$color9: #daf5ff;
$lightgreen: #26B2AB;
$darkgreen: #008080;
$darkblue: #a6e6fd;
$green: #12A347;
$orange: #FBA801;
$blue: #0E7CEB;
$red: #DC2626;
$white: #FFFF;
$transparent: rgba(28,28,28,0);