@mixin Roboto100 {
  font-family: Roboto;
  font-weight: 100;
}

@mixin Roboto200 {
  font-family: Roboto;
  font-weight: 200;
}

@mixin Roboto300 {
  font-family: Roboto;
  font-weight: 300;
}

@mixin Roboto400 {
  font-family: Roboto;
  font-weight: 400;
}

@mixin Roboto500 {
  font-family: Roboto;
  font-weight: 500;
}

@mixin Roboto600 {
  font-family: Roboto;
  font-weight: 600;
}

@mixin Roboto700 {
  font-family: Roboto;
  font-weight: 700;
}

@mixin Roboto800 {
  font-family: Roboto;
  font-weight: 800;
}

@mixin Roboto900 {
  font-family: Roboto;
  font-weight: 900;
}

@mixin Inter600 {
  font-family: Inter;
  font-weight: 600;
}

@mixin Inter700 {
  font-family: Inter;
  font-weight: 700;
}

@mixin Inter800 {
  font-family: Inter;
  font-weight: 800;
}

@mixin Inter900 {
  font-family: Inter;
  font-weight: 900;
}